
.App {
    text-align: center;
  }
.cards-selected {
  color: green;
  width: 320px;
  border: 5px solid green;
  margin: 1px;
} 
.cards-standard {
  width: 320px;
  border: 5px solid gray;
  margin: 1px;
} 

.cards-slider-wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}


