body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}
.card{
  width: 300px;
}

.card .card-image .card-title{
  color: black;
  font-weight: 400;
  z-index: 1;
}
/* .card-image img { display: block; position: relative; z-index: 1; width: auto; height: 100%; } */
.card-image .fade { position: absolute; bottom: 0; width: 100%; height: 170px; z-index: 1; background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 70%) repeat scroll 0 0;  }.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}
